Dataset/
help.txt
out.txt
p_cpu_out.txt
p_out.txt
sigmoid
sum.txt
thes.txt
neuralnetwork
report.AnalysisSummary.html
report.DiagnosticsSummary.html
report.nsys-rep
report1.nsys-rep
report1.sqlite
report2.nsys-rep
report2.sqlite
report3.AnalysisSummary.html
report3.DiagnosticsSummary.html
report3.nsys-rep
report3.sqlite
report4.nsys-rep
report4.sqlite
report5.AnalysisSummary.html
report5.DiagnosticsSummary.html
report5.nsys-rep
report5.sqlite
report6.AnalysisSummary.html
report6.DiagnosticsSummary.html
report6.nsys-rep
report6.sqlite
report7.AnalysisSummary.html
report7.DiagnosticsSummary.html
report7.nsys-rep
report7.sqlite
report8.AnalysisSummary.html
report8.DiagnosticsSummary.html
report8.nsys-rep
report8.sqlite
report9.AnalysisSummary.html
report9.DiagnosticsSummary.html
report9.nsys-rep
report9.sqlite
report10.AnalysisSummary.html
report10.DiagnosticsSummary.html
report10.nsys-rep
report10.sqlite
report11.AnalysisSummary.html
report11.DiagnosticsSummary.html
report11.nsys-rep
report11.sqlite
report12.AnalysisSummary.html
report12.DiagnosticsSummary.html
report12.nsys-rep
report12.sqlite
report13.AnalysisSummary.html
report13.DiagnosticsSummary.html
report13.nsys-rep
report13.sqlite
report14.AnalysisSummary.html
report14.DiagnosticsSummary.html
report14.nsys-rep
report15.AnalysisSummary.html
report15.DiagnosticsSummary.html
report15.nsys-rep
report16.AnalysisSummary.html
report16.DiagnosticsSummary.html
report16.nsys-rep
report16.sqlite
report17.AnalysisSummary.html
report17.DiagnosticsSummary.html
report17.nsys-rep
report18.AnalysisSummary.html
report18.DiagnosticsSummary.html
report18.nsys-rep
report19.AnalysisSummary.html
report19.DiagnosticsSummary.html
report19.nsys-rep
report20.AnalysisSummary.html
report20.DiagnosticsSummary.html
report20.nsys-rep
report21.AnalysisSummary.html
report21.DiagnosticsSummary.html
report21.nsys-rep
report22.AnalysisSummary.html
report22.DiagnosticsSummary.html
report22.nsys-rep
report23.AnalysisSummary.html
report23.DiagnosticsSummary.html
report23.nsys-rep
report24.AnalysisSummary.html
report24.DiagnosticsSummary.html
report24.nsys-rep
report25.AnalysisSummary.html
report25.DiagnosticsSummary.html
report25.nsys-rep
report26.AnalysisSummary.html
report26.DiagnosticsSummary.html
report26.nsys-rep
report27.AnalysisSummary.html
report27.DiagnosticsSummary.html
report27.nsys-rep
report28.AnalysisSummary.html
report28.DiagnosticsSummary.html
report28.nsys-rep
report28.sqlite
report29.AnalysisSummary.html
report29.DiagnosticsSummary.html
report29.nsys-rep
report29.sqlite
report30.AnalysisSummary.html
report30.DiagnosticsSummary.html
report30.nsys-rep
report30.sqlite
report31.AnalysisSummary.html
report31.DiagnosticsSummary.html
report31.nsys-rep
report31.sqlite
report32.nsys-rep
report33.nsys-rep
report34.nsys-rep
report35.nsys-rep
report36.nsys-rep
report37.nsys-rep
report38.AnalysisSummary.html
report38.DiagnosticsSummary.html
report38.nsys-rep
report39.AnalysisSummary.html
report39.DiagnosticsSummary.html
report39.nsys-rep
report40.AnalysisSummary.html
report40.DiagnosticsSummary.html
report40.nsys-rep
report41.AnalysisSummary.html
report41.DiagnosticsSummary.html
report41.nsys-rep
report41.sqlite
report42.AnalysisSummary.html
report42.DiagnosticsSummary.html
report42.nsys-rep
report42.sqlite
report43.nsys-rep
report43.sqlite
report44.nsys-rep
report44.sqlite
report45.nsys-rep
report45.sqlite
report46.nsys-rep
report46.sqlite
report47.nsys-rep
report47.sqlite
report48.AnalysisSummary.html
report48.DiagnosticsSummary.html
report48.nsys-rep
report48.sqlite
obj/Activations.o
obj/base_layer.o
obj/boston_regression.o
obj/california_regression.o
obj/cifar_train.o
obj/conv.o
obj/Conv2D.o
obj/convlin_UNUSED.o
obj/cpu_adam.o
obj/cpu_boston_regression.o
obj/cpu_california_regression.o
obj/cpu_cifar_train.o
obj/cpu_conv.o
obj/cpu_DebugUtils.o
obj/cpu_kernel.o
obj/cpu_Layers.o
obj/cpu_linear.o
obj/cpu_mnist_train.o
obj/DebugUtils.o
obj/helpers.o
obj/layer_proxy.o
obj/Layers.o
obj/linear.o
obj/LinearLayers.o
obj/Loss.o
obj/main.o
obj/mnist_train.o
obj/NeuralNetwork.o
obj/optimizer_factory.o
obj/optimizer.o
obj/Reduction_Helpers.o
obj/test_nn.o
